* {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: green;
}

.button {
  font-size: 14px;
  border: 1px solid darkgoldenrod;
  box-sizing: border-box;
  background-color: gray;
  cursor: pointer;
}

.remove {
  font-size: 14px;
  border: 1px solid darkgoldenrod;
  box-sizing: border-box;
  background-color: gray;
  cursor: pointer;
  margin-left: 5px;
}

.value {
  font-size: 14px;
  color: green;
  margin-inline: 10px;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  align-items: center;
  margin-bottom: 10px;
}
